@import url(https://fonts.googleapis.com/css?family=Chelsea+Market);
body {
  background-repeat:no-repeat;
  height:100%;
  width:auto;
}

h1{
  font-family: 'Chelsea Market', serif;
  font-size: 2.5em;
  text-align:center;
  color: rgba(0,0,0,1);
  text-shadow:2px 2px 3px rgba(150,150,150,0.75);
  background-color: white;
  opacity:75%;
}

h2{
  font-family: 'Chelsea Market', serif;
  font-size: 1.5em;
  text-align:center;
  color: rgba(0,0,0,1);
  text-shadow:2px 2px 3px rgba(150,150,150,0.75);
}

#searchForm{
  font-family: 'Chelsea Market', serif;
  font-size:2.5em;
  color: rgba(0,0,0,1);
  text-align:center;
  vertical-align:middle;
  padding:0% 0% 0% 0%;
  position: fixed;
  width: 100%;
  bottom: 150px;
  border: black;
}

h2#bestMoveSet{
  font-family: 'Chelsea Market', serif;
  font-size:1.5em;
  color: rgba(0,0,0,1);
  text-align:center;
  vertical-align:middle;
  padding:0% 0% 0% 0%;
  position: fixed;
  width: 100%;
  bottom: 30px;
  border: black;
  background-color: white;
  opacity: 75%;
}

#moreInfo{
  font-family: 'Chelsea Market', serif;
  font-size:1.5em;
  color: rgba(0,0,0,1);
  text-align:center;
  vertical-align:middle;
  padding:0% 0% 0% 0%;
  position: fixed;
  width: 100%;
  bottom: 10px;
  border: black;
  background-color: white;
  opacity: 75%;
}

input[type=button], input[type=submit], input[type=reset], input[type=text] {
  font-family: 'Chelsea Market', serif;
  font-size: medium;
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 8px;
  cursor: pointer;
}

div.rankSection {
  color: black;
  vertical-align:middle;
  position: fixed;
  bottom: 75px;
  border: black;
  width:98%;
  margin: 1%;
}

table#ranks, th#greatLeagueRankHeading, th#ultraLeagueRankHeading, th#masterLeagueRankHeading, td#greatLeagueRank, td#ultraLeagueRank, td#masterLeagueRank {
  font-family: 'Chelsea Market', serif;
  width: 500px;
  height:auto;
  background-color:rgba(256,256,256,0.7);
  border: 1px solid black;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

img#pokemonImage {
  display:block;
  position: relative;
  width: 150%;
  height:auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color:black;
  border-radius: 50%;*/
  /* bring your own prefixes */
  animation-name: pokemonMove;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;

  z-index:100;
}

@keyframes pokemonMove {
  0%   {transform: translate(-50%, -50%);}
  10%  {transform: translate(-48%, -47%);}
  20%  {transform: translate(-45%, -45%);}
  30%  {transform: translate(-45%, -45%);}
  40%  {transform: translate(-48%, -47%);}
  50%  {transform: translate(-50%, -50%);}
  60%  {transform: translate(-52%, -47%);}
  70%  {transform: translate(-55%, -45%);}
  80%  {transform: translate(-55%, -45%);}
  90%  {transform: translate(-52%, -47%);}
  100%   {transform: translate(-50%, -50%);}
}

.absolute_circle_container {
  position: relative;
  width: 40em;
  height: 40em;
  padding: 1em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: solid 2px;
  border-radius: 50%;
  margin: 1.75em auto 0;
  background:white;
  z-index:1;
  color:rgba(0,0,0,0.2);
}

.circle-container {
  position: absolute;
  width: 41em;
  height: 41em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  /*border: dashed 1px;*/
  border-radius: 50%;

  /*margin: 1.75em auto 0;*/
  /*color:red;*/


}

.circle-container_mid {
	position: absolute;
	width: 34em;
	height: 34em;

    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
	border: solid 2px;
	border-radius: 50%;
  transform: translate(8%, 8%);
	/*margin: 1.75em auto 0;*/
  /*background:grey;*/
  z-index:2;
  opacity:60%;
}

.circle-container_inner {
	position: absolute;
	width: 25em;
	height: 25em;
	/*padding: 1em;*/
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
	border: solid 2px;
	border-radius: 50%;
	/*margin: 1.75em auto 0;*/
  color:black;
  transform: translate(29%, 29%);
  background:black;
  z-index:3;
  opacity:25%;
}
.circle-container a {
	display: block;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em;
  order: solid 2px;
	border-radius: 50%;
	/*margin: 1.75em auto 0;*/
  color:black;
}

.type-container {
  position: absolute;
  width: 42em;
  height: 42em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border-radius: 50%;
  transform: translate(-3%, -3%);
  /*margin: 1.75em auto 0;*/
}

.type-container a {
	display: block;
	position: absolute;
	top: 50%; left: 50%;
	width: 22em; height: 22em;
	margin: -2em;
  order: solid 2px;
	border-radius: 50%;
	/*margin: 1.75em auto 0;*/
  color:black;
}

.circle-container img { display: block; width: 75%; }
.type-container img { display: block; width: 120%; }

.circle-container_inner img {display: block; width: 100%}

.type_deg0 { transform: translate(2em,-6em); z-index:9;} /* 12em = half the width of the wrapper */
.type_deg20 { transform: rotate(20deg) translate(-0.5em,-2.5em); z-index:8;}
.type_deg40 { transform: rotate(40deg) translate(-1.5em,1.75em); z-index:8;}
.type_deg60 { transform: rotate(60deg) translate(-1em,6em); z-index:8;}
.type_deg80 { transform: rotate(80deg) translate(0.75em,9.85em); z-index:8;}
.type_deg100 { transform: rotate(100deg) translate(3.75em,12.85em); z-index:8;}
.type_deg120 { transform: rotate(120deg) translate(7.75em,14.75em); z-index:8;}
.type_deg140 { transform: rotate(140deg) translate(12em,15em); z-index:8;}
.type_deg160 { transform: rotate(160deg) translate(16.25em,14em); z-index:8;}
.type_deg180 { transform: rotate(180deg) translate(19.5em,11.5em); z-index:8;}
.type_deg200 { transform: rotate(200deg) translate(22em,8em); z-index:8;}
.type_deg220 { transform: rotate(220deg) translate(23.5em,3.75em); z-index:8;}
.type_deg240 { transform: rotate(240deg) translate(22.75em,-0.5em); z-index:8;}
.type_deg260 { transform: rotate(260deg) translate(21em,-4.35em); z-index:8;}
.type_deg280 { transform: rotate(280deg) translate(18em,-7.45em); z-index:8;}
.type_deg300 { transform: rotate(300deg) translate(14em,-9.25em); z-index:8;}
.type_deg320 { transform: rotate(320deg) translate(10em,-9.75em); z-index:8;}
.type_deg340 { transform: rotate(340deg) translate(5.75em,-8.5em); z-index:8;}


.deg0 { transform: translate(19em); z-index:10;} /* 12em = half the width of the wrapper */
.deg20 { transform: rotate(20deg) translate(19em) rotate(-20deg); z-index:10;}
.deg40 { transform: rotate(40deg) translate(19em) rotate(-40deg); z-index:10;}
.deg60 { transform: rotate(60deg) translate(19em) rotate(-60deg); z-index:10;}
.deg80 { transform: rotate(80deg) translate(19em) rotate(-80deg); z-index:10;}
.deg100 { transform: rotate(100deg) translate(19em) rotate(-100deg); z-index:10;}
.deg120 { transform: rotate(120deg) translate(19em) rotate(-120deg); z-index:10;}
.deg140 { transform: rotate(140deg) translate(19em) rotate(-140deg); z-index:10;}
.deg160 { transform: rotate(160deg) translate(19em) rotate(-160deg); z-index:10;}
.deg180 { transform: rotate(180deg) translate(19em) rotate(-180deg); z-index:10;}
.deg200 { transform: rotate(200deg) translate(19em) rotate(-200deg); z-index:10;}
.deg220 { transform: rotate(220deg) translate(19em) rotate(-220deg); z-index:10;}
.deg240 { transform: rotate(240deg) translate(19em) rotate(-240deg); z-index:10;}
.deg260 { transform: rotate(260deg) translate(19em) rotate(-260deg); z-index:10;}
.deg280 { transform: rotate(280deg) translate(19em) rotate(-280deg); z-index:10;}
.deg300 { transform: rotate(300deg) translate(19em) rotate(-300deg); z-index:10;}
.deg320 { transform: rotate(320deg) translate(19em) rotate(-320deg); z-index:10;}
.deg340 { transform: rotate(340deg) translate(19em) rotate(-340deg); z-index:10;}

.deg0_mid{ transform: translate(15em); z-index:10;} /* 12em = half the width of the wrapper */
.deg20_mid { transform: rotate(20deg) translate(15em) rotate(-20deg); z-index:10;}
.deg40_mid { transform: rotate(40deg) translate(15em) rotate(-40deg); z-index:10;}
.deg60_mid { transform: rotate(60deg) translate(15em) rotate(-60deg); z-index:10;}
.deg80_mid { transform: rotate(80deg) translate(15em) rotate(-80deg); z-index:10;}
.deg100_mid { transform: rotate(100deg) translate(15em) rotate(-100deg); z-index:10;}
.deg120_mid { transform: rotate(120deg) translate(15em) rotate(-120deg); z-index:10;}
.deg140_mid { transform: rotate(140deg) translate(15em) rotate(-140deg); z-index:10;}
.deg160_mid { transform: rotate(160deg) translate(15em) rotate(-160deg); z-index:10;}
.deg180_mid { transform: rotate(180deg) translate(15em) rotate(-180deg); z-index:10;}
.deg200_mid { transform: rotate(200deg) translate(15em) rotate(-200deg); z-index:10;}
.deg220_mid { transform: rotate(220deg) translate(15em) rotate(-220deg); z-index:10;}
.deg240_mid { transform: rotate(240deg) translate(15em) rotate(-240deg); z-index:10;}
.deg260_mid { transform: rotate(260deg) translate(15em) rotate(-260deg); z-index:10;}
.deg280_mid { transform: rotate(280deg) translate(15em) rotate(-280deg); z-index:10;}
.deg300_mid { transform: rotate(300deg) translate(15em) rotate(-300deg); z-index:10;}
.deg320_mid { transform: rotate(320deg) translate(15em) rotate(-320deg); z-index:10;}
.deg340_mid { transform: rotate(340deg) translate(15em) rotate(-340deg); z-index:10;}

.deg0_inner{ transform: translate(10em); z-index:10;} /* 12em = half the width of the wrapper */
.deg20_inner { transform: rotate(20deg) translate(10em) rotate(-20deg); z-index:10;}
.deg40_inner { transform: rotate(40deg) translate(10em) rotate(-40deg); z-index:10;}
.deg60_inner { transform: rotate(60deg) translate(10em) rotate(-60deg); z-index:10;}
.deg80_inner { transform: rotate(80deg) translate(10em) rotate(-80deg); z-index:10;}
.deg100_inner { transform: rotate(100deg) translate(10em) rotate(-100deg); z-index:10;}
.deg120_inner { transform: rotate(120deg) translate(10em) rotate(-120deg); z-index:10;}
.deg140_inner { transform: rotate(140deg) translate(10em) rotate(-140deg); z-index:10;}
.deg160_inner { transform: rotate(160deg) translate(10em) rotate(-160deg); z-index:10;}
.deg180_inner { transform: rotate(180deg) translate(10em) rotate(-180deg); z-index:10;}
.deg200_inner { transform: rotate(200deg) translate(10em) rotate(-200deg); z-index:10;}
.deg220_inner { transform: rotate(220deg) translate(10em) rotate(-220deg); z-index:10;}
.deg240_inner { transform: rotate(240deg) translate(10em) rotate(-240deg); z-index:10;}
.deg260_inner { transform: rotate(260deg) translate(10em) rotate(-260deg); z-index:10;}
.deg280_inner { transform: rotate(280deg) translate(10em) rotate(-280deg); z-index:10;}
.deg300_inner { transform: rotate(300deg) translate(10em) rotate(-300deg); z-index:10;}
.deg320_inner { transform: rotate(320deg) translate(10em) rotate(-320deg); z-index:10;}
.deg340_inner { transform: rotate(340deg) translate(10em) rotate(-340deg); z-index:10;}
